# APP
APP_ENV=development
APP_NAME=c0-node-cli
APP_PATH=.
# CACHE
CACHE_TTL=1m
CACHE_REPOSITORY=file
CACHE_DIRECTORY=./temp/cache
# LOG
LOG_REPOSITORIES=console,file
# LOG_CONSOLE
LOG_CONSOLE_MIN_LEVEL=debug
# LOG_FILE
LOG_FILE_MIN_LEVEL=warn